.file-card {
  align-items: center;
  background-color: var(--clr-3);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.5rem;
  padding: 0.4rem 0.5rem;
  transition: var(--transition-fast);
  width: 100%;

  &:hover {
    background-color: var(--clr-4);
  }

  &__icon {
    color: var(--clr-text-1);
    font-size: 1.7rem;
    margin-right: 0.6rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__date {
    color: var(--clr-text-3);
    font-size: 0.8rem;
  }

  &__name {
    color: var(--clr-text-1);
    font-size: 0.9rem;
  }
}
