.editor {
  background-color: var(--clr-1);
  border-right: 2px solid var(--clr-4);
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-width: 50%;

  &__header-bar {
    align-items: center;
    background-color: var(--clr-2);
    display: flex;
    height: var(--header-bar-height);
    justify-content: space-between;
  }

  &__title {
    color: var(--clr-text-3);
    font-size: 1rem;
    font-weight: 300;
    margin-left: 0.3rem;
    text-transform: uppercase;
  }

  &__visibility-button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--clr-text-3);
    cursor: pointer;
    display: flex;
    font-size: 1.3rem;
    height: 100%;
    justify-content: center;
    margin-right: 0.5rem;
    outline: none;
  }

  &__content {
    background-color: transparent;
    border: none;
    color: var(--clr-text-editor);
    font-size: 0.9rem;
    height: 100%;
    max-height: calc(100vh - var(--header-bar-height) - var(--header-height));
    outline: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0.5rem 0.5rem 0.5rem 0.7rem;
    resize: none;
    width: 100%;
  }
}

// Media queries

@media screen and (max-width: 768px) {
  .editor {
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .editor {
    min-height: 40%;
  }
}
