.theme-switch {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--clr-text-1);
  display: flex;
  font-size: 1.2rem;
  outline: none;
  padding: 0.3rem 0rem;
  transition: var(--transition-fast);

  &:hover {
    color: var(--clr-accent-1);
    cursor: pointer;
  }

  &__mode {
    margin-left: 0.5rem;
  }
}
