@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --font-primary: "Poppins", sans-serif;
  --header-height: 80px;
  --sidebar-width: 280px;
  --transition-fast: all 0.1s ease-in-out;
  --transition-normal: all 0.2s ease-in-out;
  --transition-slow: all 0.3s ease-in-out;

  --clr-1: hsl(225, 9%, 9%);
  --clr-2: hsl(216, 8%, 12%);
  --clr-3: hsl(220, 7%, 18%);
  --clr-4: hsl(216, 9%, 23%);
  --clr-5: hsl(0, 0%, 38%);
  --clr-6: hsl(0, 0%, 53%);

  --clr-text-1: hsl(0, 0%, 100%);
  --clr-text-2: hsl(0, 0%, 80%);
  --clr-text-3: hsl(0, 0%, 60%);
  --clr-text-4: hsl(0, 0%, 40%);
  --clr-text-neutral: hsl(0, 0%, 100%);

  --clr-danger-1: hsl(0, 100%, 30%);
  --clr-danger-2: hsl(0, 100%, 70%);
  --clr-danger-3: hsl(0, 100%, 90%);

  //clr tangerine
  --clr-accent-1: hsl(25, 100%, 50%);
  --clr-accent-2: hsl(25, 100%, 70%);
  --clr-accent-3: hsl(25, 100%, 90%);

  --toastify-color-dark: hsl(0, 0%, 14%);
  --toastify-color-success: var(--clr-accent);
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-2);
  height: 2rem;
  /* border-radius: 1rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-2);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: calc(100% - 2rem);
    margin: 0 1rem;
  }
}
