.home {
  display: flex;
  height: 100vh;
  overflow: hidden;

  &__main-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    width: 100%;
  }

  &__content-section {
    display: flex;
    height: 100%;
    width: 100%;
  }
}

// Media queries

@media screen and (max-width: 768px) {
  .home {
    &__content-section {
      flex-direction: column;
    }
  }
}
