.preview {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--clr-1);
  height: 100%;

  &__header-bar {
    display: flex;
    background-color: var(--clr-2);
    height: var(--header-bar-height);
  }
}
