.preview {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--clr-1);
  max-height: var(100vh - var(--header-bar-height));

  &__header-bar {
    display: flex;
    align-items: center;
    background-color: var(--clr-2);
    height: var(--header-bar-height);
  }

  &__header-bar__left-content {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--clr-text-3);
    margin-left: 0.3rem;
  }

  &__content {
    font-size: 0.9rem;
    width: 100%;
    color: var(--clr-text-2);
    padding: 0.5rem 0.5rem 0.5rem 0.7rem;
    height: 100%;
    background-color: transparent;
    overflow-y: scroll;
    max-height: calc(100vh - var(--header-bar-height) - var(--header-height));
  }

  & > h1 {
    font-size: 32px;
    line-height: 42px;
  }

  & > h2 {
    font-size: 24px;
    line-height: 31px;
  }

  & > h3 {
    font-size: 28px;
    line-height: 37px;
  }

  & > h4 {
    font-size: 20px;
    line-height: 37px;
  }

  & > h5 {
    font-size: 16px;
    line-height: 21px;
  }

  & > h6 {
    font-size: 14px;
    line-height: 21px;
  }

  & > p {
    line-height: 24px;
  }

  & > li {
    line-height: 1.3rem;
  }

  & > ul {
    margin-bottom: 1.5rem;
  }

  & > ol {
  }

  & > ul li::before {
    content: "\2022";
    color: var(--clr-accent-1);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: 0.1rem;
  }

  & > blockquote {
    border-left: 2px solid var(--clr-accent-1);
    padding: 0.5rem 1rem;
    // margin: 0.5rem 0;
    background-color: var(--clr-3);
    border-radius: 0.2rem;
  }

  & > blockquote p {
    @apply text-sm text-dark-gray dark:text-white font-bold m-0;
  }

  & > code {
    @apply text-dark-gray dark:text-white text-xs sm:text-sm;
  }

  & > pre {
    @apply p-3 sm:p-6 bg-light-gray-1/2 rounded mb-5 dark:bg-dark-gray-2;
  }

  & > pre p {
    @apply text-dark-gray font-normal text-sm;
  }
}
